<h1>Game rules</h1>
  <p>The rules of rock, paper scissors are each player picks eith rock, paper or scissors. The rules of the game are rock beats scissors, scissors beats paper and paper beats rock.</p>
